<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="css/base.css"/>
		<link rel="stylesheet" href="css/top.css"/>
		<link rel="stylesheet" href="css/middle.css" />
		<link rel="stylesheet" href="css/bottom.css" />
		<link rel="stylesheet" href="css/heros.css" />
		<script src="js/vue.js"></script>
		<script src="js/vue-router.js"></script>
		<script src="js/vue-resource.js"></script>
	</head>
	<body>
	<!--顶部菜单-->
		<div class="top">
			<div class="top_center">
				<a href=""><img src="img/topBar_logo.jpg"/><a>
				<p class="top_center_first">
					<img src="img/b_20171122112350xh1r.jpg"/>
				</p>
				<p class="top_center_second">
					<a href="">充值</a>
					<a href="register.html">注册</a>
					<a href="login.html">登录</a>
					<a href="">电魂旗舰店</a>
				</p>
				<div class="top_center_last">
					电魂游戏	
					<i></i>
					<div style="display: none;">
						<ul>
							<li>客户端游戏</li>
							<li>梦三国</li>
							<li>梦塔防</li>
						</ul>
						<ul>
							<li>手机游戏</li>
							<li>梦梦爱三国/li>
							<li>梦三国</li>
							<li>星梦冲突</li>
							<li>更多&gt;&gt;</li>
						</ul>
						<ul></ul>
					</div>
				</div>
			</div>

		</div>
	<!---中部左div---->
		<div class="middle">
			<div class="middle_left">	
				<div class="middle_daohang">
					<a href="" class="dhwidth msg_logo"></a>
					<a href="" class="dhwidth download"></a>
					<ul class="txula">
						<li><a href="" class="txula1">帐号充值</a></li>
						<li><a href="" class="txula2">账户充值</a></li>
						<li><a href="" class="txula3">日志更新</a></li>
						<li><a href="" class="txula4">新手礼包</a></li>
					</ul>
					<ul class="cbmain">
						<li><a href="" class="cba1 wm">官网首页</a></li>
						<li>	
							<a class="cba2 wm">资讯中心</a>
							<div class="close">
							<a href="">官方资讯</a>
							<a href="">游戏公告</a>
							<a href="">赛事信息</a>
							<a href="">商城推荐</a>
							<a href="">媒体新闻</a>
							</div>
						</li>
						<li>
							<a class="cba3 wm">游戏资料</a>
							<div class="close">
								<a href="">英雄资料</a>
								<a href="">物品道具</a>
								<a href="">地图信息</a>
								<a href="">新手指南</a>
								<a href="">讲武堂</a>
							</div>
						</li>
						<li>
							<a class="cba4 wm">赛事活动</a>
							<div class="close">
								<a href="">赛事中心</a>
								<a href="">活动中心</a>
							</div>
						</li>
						<li>
							<a class="cba5 wm">梦之旅程</a>
							<div class="close">
								<a href="">更新日志</a>
								<a href="">官方橙帖</a>
								<a href="">历届版本</a>
								<a href="">梦三世界</a>
							</div>
						</li>
						<li>
							<a  class="cba6 wm">安全服务</a>
							<div class="close">
								<a href="">手机统军令</a>
								<a href="">防盗攻略</a>
								<a href="">BUG提交</a>
								<a href="">外挂举报</a>
							</div>
						</li>
						<li><a href="" class="cba7 wm">主题网吧</a></li>
						<li><a href="" class="cba8 wm">至尊VIP</a></li>
						<li><a href="" class="cba9 wm">官方论坛</a></li>
					</ul>
					<ul class="zxbxtb">
						<li>
							<a href="">
								<i class="zxbtb1"></i>
								<br>梦三YY
							</a>
						</li>
						<li>
							<a href="">
								<i class="zxbtb2"></i>
								<br>口袋梦三
							</a>
						</li>
						<li>
							<a href="">
								<i class="zxbtb3"></i>
								<br>电魂天猫
							</a>
						</li>
						<li>
							<a href="">
								<i class="zxbtb4"></i>
								<br>官方微信
							</a>
						</li>
						<li>
							<a href="">
								<i class="zxbtb5"></i>
								<br>腾讯微博
							</a>
						</li>
						<li>
							<a href="">
								<i class="zxbtb6"></i>
								<br>新浪微博
							</a>
						</li>
					</ul>
					<div class="kfzx">
						<p>0571-56690669</p>
						<ul>
							<li><a href="">账号管理</a></li>
							<li><a href="">安全解绑</a></li>
							<li><a href="">密码找回</a></li>
							<li><a href="">更改邮箱</a></li>
							<li><a href="">密保手机</a></li>
							<li><a href="">微信服务</a></li>
						</ul>
						<a href="">进入客服中心</a>
					</div>
				</div>
			</div>
			<!--加载英雄列表-->
			<div class="hero">
				<div class="hero_main">
					<div class="hero_title_top">	
						<a href="" class="xuanzhong	">英雄列表</a>
						<a href="" >英雄战绩</a>
					</div>
					<div class="hero_title">
						<span>您所在的位置：首页 > 英雄列表</span>
						<input type="text" placeholder="请输入您要搜索的英雄名	"/>
					</div>
					<div class="type">
						<span>上手难度》</span>
						<span>战斗类型》</span>
						<span>英雄定位》</span>
						<ul class="xj">
						<li>全部</li>
						<li>一星</li>
						<li>二星</li>
						<li>三星</li>
						<li>四星</li>
						<li>五星</li>
						</ul>
						<ul class="lxyj">
							<li>全部</li>
							<li>力量-近战</li>
							<li>力量-远程</li>
							<li>敏捷-近战</li>
							<li>敏捷-远程</li>
							<li>智力-近战</li>
							<li>智力-远程</li>
						</ul>
						<ul class="lx">
							<li>全部</li>
							<li>法术</li>
							<li>控制</li>
							<li>输出</li>
							<li>辅助</li>
							<li>肉盾</li>
						</ul>
					</div>
					<div class="hero_list" id="example">
						<div class="wei">
							<p></p>
							<ul>
								<li v-for="(tmp) in wei" @click="ck(tmp)">
									<a>
								<span>
									<img 	:src="tmp.heroimg" alt="" />
								</span>
										<p>{{tmp.hname}}</p>
									</a>
								</li>
							</ul>
						</div>
						<div class="shu">
							<p></p>
							<ul>

								<li v-for="(tmp) in shu" @click="ck(tmp)">
									<a>
								<span>
									<img 	:src="tmp.heroimg" alt="" />
								</span>
										<p>{{tmp.hname}}</p>
									</a>
								</li>


							</ul>
						</div>
						<div class="wu">
							<p></p>
							<ul>
								<li v-for="(tmp) in wu" @click="ck(tmp)">
									<a>
								<span>
									<img 	:src="tmp.heroimg" alt="" />
								</span>
										<p>{{tmp.hname}}</p>
									</a>
								</li>


							</ul>
						</div>
						<div class="zhongli">
							<p></p>
							<ul>

								<li v-for="(tmp) in zl" @click="ck(tmp)">
									<a>
								<span>
									<img 	:src="tmp.heroimg" alt="" />
								</span>
										<p>{{tmp.hname}}</p>
									</a>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>	
		</div>
	<!--底部-->
		<div class="bottom">	
			<div>
				<div class="last_left">
					<a href=""></a>
				</div>
				<div class="last_right">
					<p>杭州电魂网络科技股份有限公司版权所有丨2008-2017 Electronic Soul - All rights reserved</p>
					<p>《增值电信业务经营许可证》编号：浙B2-20090296</p>
					<p>网路文化经营许可证编号：浙网文【2012】0804-079号丨互联网出版许可证编号：新出网证（浙）45号</p>
					<p>出版号：新广出审［2015］321号丨文化部网络游戏备案号：文网游备字［2011］C-RPG011号</p>
				</div>
			</div>
		</div>
		<script src="js/jquery-3.2.1.js"></script>
		<script src="js/index.js"></script>
	<!--vue-->
		<script>
            
            var app = new Vue({
                el: '#example',
                data: {
                    msg: 'zhaoyun',
					wei:[],
					shu:[],
					wu:[],
					zl:[]
                },
                created:function(){
                    this.$http.get('heros').then(data=>{
                        console.log(data)
                        this.wei=data.body.wei
                        this.shu=data.body.shu
                        this.wu=data.body.wu
                        this.zl=data.body.zl
                    })
                },
				methods:{
                    ck:function(msg){

                        sessionStorage.msg=JSON.stringify(msg);
                        console.log(sessionStorage)
                        window.location.href='heros_details.html?lid='+msg.hid
					}
				}
            })
		</script>
	</body>
</html>
