.top{
	min-width:1349px;
	width:100%;
	height:562px;
	background-image: url(../../img/login/loginBanner_5.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-clip:border-box;
	position:relative;
}
.top>.top_dh{
	width:100%;
	height:66px;
	background-color:rgba(0,0,0,0.85);
	
}
.top>.top_dh>div{
	margin:0 auto;
	width:80%;
	height:66px;
}
.top>.top_dh>div>a{
	display: block;
	width:180px;
	height:100%;
	background-image:url(../../img/login/loginDhLogin.png);
	background-repeat:no-repeat ;
	background-position: center center;
	float: left; 
}
.top>.top_dh>div>ul{
	padding-left: 230px;
	height:100%;
	
}
.top>.top_dh>div>ul>li{
	display: block;
	width:110px;
	height:100%;
	float:left;
	line-height:66px;
	text-align:center;
}
.top>.top_dh>div>ul>li>a{
	font-size: 14px;
	color:white;
	opacity:0.7;
	transition: all .5s linear;
}
.top>.top_dh>div>ul>li:hover a{
	opacity:1;
}	
.top>.login_div{
	position:absolute;
    color: #fff;
    width:20%;
    max-width:285px;
    right:40px;
    top: 18%;
    padding:20px;
    background-color: rgba(0,0,0,0.6);
}
.top>.login_div>a.banner{
	display: block;
    width: 645px;
    height: 244px;
    background: url(../../img/login/bannertext.png) no-repeat center;
    position: absolute;
    top: 41%;
    left:-260%;
}
.top a{color: white;}
.top>.login_div>div>div>.qh{
	display:block;
	width:50%;
	height: 38px;
    line-height: 38px;	
    color: #ededed;
    text-align: center;
    text-decoration: none;
    background: #323232;
    border-bottom:#3eb74f solid 2px;
    float:left;
    margin-bottom:10px;
}
.top>.login_div>div>div>p{
	height:14px;
}
.top>.login_div>div>div>.forget{
	float:right;
}
.top>.login_div>div>div>input{
	border: 1px solid #ccc;
    padding: 5px 0;
    text-indent: 0.8em;
    height:25px;
    width:100%;
    max-width:285px;
    max-height:30px;
    line-height: 30px;
}
.top>.login_div>div>div>.uname_i{
	display: inline-block;
    width: 24px;
    height: 24px;
    background-color:white ;
    background-image: url(../../img/login/icons.png);
    background-position: 0 -24px;
    background-repeat: no-repeat;
    vertical-align: middle;
	position:relative;
    line-height: 40px;
    left:240px;
    top: 30px;
    z-index: 2;
}
.top>.login_div>div>div>.upwd_i{
	display: inline-block;
    width: 24px;
    height: 24px;
    background-color:white ;
    background-image: url(../../img/login/icons.png);
    background-position: 0 -48px;
    background-repeat: no-repeat;
    vertical-align: middle;
	position: relative;
    line-height: 24px;
    left:240px;
    top: 30px;
    z-index: 2;
    
    
}
.top>.login_div>div>div>.checkimg{
	margin-top:18px;
	width:50%;
}
.top>.login_div>div>div>.submit{
	width: 100%;
    background: #3eb74f;
    color: #fff;
    font-size: 16px;
    height:40px;
    line-height: 20px;
    border: none;
    border-radius:5px;
    margin-top:15px;
}
.bottom_dh>.dh{
	display: block;
}
.bottom_dh>.dh>li{
	float: left;
    width: 20%;
    text-align: center;
    padding: 40px 0;
    font-size: 16px;
}
.bottom_dh>.dh>li>a{
	display: block;
    line-height: 76px;
    height: 76px;
    text-decoration: none;
    color: #4c4c4c;
    border-right: 1px solid #b4b4b4;
}
.bottom_dh>.dh>li>a>.tb{
	display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 24px;
    background-image: url(../../img/login/icons.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right:5px;
}
.bottom_dh>.dh>li:nth-child(1)>a>.tb{
	    background-position: -24px -48px;
}
.bottom_dh>.dh>li:nth-child(2)>a>.tb{
	    background-position: -24px -95px;
}
.bottom_dh>.dh>li:nth-child(3)>a>.tb{
    	background-position: -71px 0;
}
.bottom_dh>.dh>li:nth-child(4)>a>.tb{
 		background-position: -72px -48px;
}
.bottom_dh>.dh>li:nth-child(5)>a>.tb{
		background-position: -72px -96px;
}
.last{
    width: 100%;
    min-width: 1040px;
    background: #f0f0f0;
    color: #c8c8c8;
}
.last>div{
	font: 12px/1.5 "\5FAE\8F6F\96C5\9ED1";
    overflow: hidden;
    padding: 36px 0;
    width: 1000px;
    margin: 0 auto;

}
.last>div>.last_left{
    border-right: 1px solid #e2e2e2;
    padding-left: 30px;
    width: 244px;
}
.last>div>.last_left>a{
	width: 147px;
	float: left;
    height: 54px;
	background: url(../../img/login/dhLogo_gray.jpg) no-repeat left top;
}
.last>div>.last_left>span{
	width: 71px;
	height: 54px;
	float: left;
	background:url(../../img/login/wenLogo_gray.jpg) no-repeat left top;
}
.last>div>.last_right{
	padding-left: 40px;
    width: 685px;
    float: left;
    box-sizing: content-box;
    color: #c8c8c8;
}
